.new {
	margin-top: 3.5rem;
	
	&Swiper {
		margin-top: 1.5rem;
		
		&Slide {
			position: relative;
			font-size: 1.75rem;
		}
		
		&Image {
			border-radius: var(--border-radius);
			overflow: hidden;
			margin-bottom: 2.5rem;
			height: 306px;
			
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		
		&Time{
			margin-top: 0.75rem;
			font-size: 1.5rem;
		}
	}
}