.banner {
	position: relative;
	min-height: 800px;
	display: flex;
	justify-content: center;
	align-items: end;
	padding-bottom: 2rem;
	
	&Image {
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
	}
	
	&Text {
		margin: 0 auto;
		max-width: 980px;
		text-align: center;
	}
	
	&Content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2.25rem;
	}
	
	&Btns {
		display: flex;
		gap: 1.5rem;
	}
}