.button {
	border: none;
	outline: none;
	padding: 1.5rem 2.25rem;
	color: var(--color-text);
	line-height: 100%;
	font-size: 1.875rem;
	font-weight: 500;
	border-radius: var(--border-radius);
	cursor: pointer;
}