.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1.5rem;
	padding: 2.5rem 0 2.5rem 4rem;
	background: var(--background);
	z-index: 100;
	
	svg {
		path {
			transition: 0.2s ease;
		}
	}
	
	&Logo {
		margin-bottom: 5rem;
		padding-left: 5px;
		
		&:hover {
			svg path {
				fill: var(--text-hover);
			}
		}
		
	}
	
	&Link {
		height: 54px;
		width: 54px;
		display: flex;
		align-items: center;
		
		svg {
			width: 80%;
			height: 80%;
		}
		
		&:hover {
			svg path {
				fill: var(--text-hover);
			}
		}
		
	}
	
	
	&Top {
		flex: 1 1 0;
		display: flex;
		align-items: end;
		cursor: pointer;
		
		&:hover {
			svg path {
				fill: var(--text-hover);
			}
		}
		
	}
	
	
}